# TOPIC: String Based Assignment Problem

# 1.  Write a program to reverse a string

Method:1

In [1]:
# step1: firstly i have take string
str1 = "Vijay Kumar Shah"

# step2: using slicing method to reverse it 
reverse_str1 = str1[::-1]

# step3: Display after reverse string
print("reverse string is:",reverse_str1)

reverse string is: hahS ramuK yajiV

Method:2

In [1]:
def reverse_string(input_string):
    # Step 1: Define a function called reverse_string that takes an input_string as its parameter.

    reversed_string = ""
    # Step 2: Initialize an empty string called reversed_string to store the reversed characters.

    for char in input_string:
        # Step 3: Start a loop that iterates through each character in the input_string.

        reversed_string = char + reversed_string
        # Step 4: Concatenate the current character with the existing reversed_string.
        # This effectively adds the current character to the beginning of the reversed string.

    return reversed_string
    # Step 5: After the loop is done, return the reversed_string as the output of the function.

In [3]:
input_str = "Ram Shyam Shiv"
reversed_str = reverse_string(input_str)
print(reversed_str)

vihS mayhS maR

Explanation:
1. firstly i have created function for input string that takes string as a input
2. initialize an empty string that will store reverse characters.
3. with the help of for loop, we iterate string
4. after iteration ,Concatenate the current character with the existing reversed_string.

# 2. Check if a string is a palindrome.

In [11]:
#step1: in first i have created function that take string
def palindrome_str(input_str):
    
#step2: convert input string in lowere case
    input_str = input_str.lower()

# step3: remove space other thing in like punctuation from string
    input_str = ''.join(e for e in input_str if e.isalnum())

# step4: compare the input_str and with its reverse string
    return input_str == input_str[::-1]

In [12]:
print(palindrome_str("Ram"))
print(palindrome_str("noon"))
print(palindrome_str("jawan"))

False
True
False

Explanation:
1. create function who input as string
2. convert above input string in lower case using .lower() method
3. after convert in lowercase , i need to remove space and other things like punctuaion from string
4. finally compare input string with his reverse string

# 3. Convert a string to uppercase

In [ ]:
# step1: create function that take input as a string
def s_uppercase(s):
    
# step2: convert input string in upper case
    s = s.upper()
    
# step3: finnaly return modified string in the form of uppercase
    return s

In [16]:
print(s_uppercase("ambresh"))
print(s_uppercase("shahRukh Khan"))
print(s_uppercase("jawan"))

AMBRESH
SHAHRUKH KHAN
JAWAN

Explanation:
1. first we can create function who take input as a string or we can input as string from the users
2. convert input string in uppercase with the help of .lower() function
3. we can return our string after convert in uppercase

# 4.   Convert a string to lowercase

In [19]:
# step1: we can take input as a string from user
input_string = str(input("Enter your string :"))

# step2: convert input string in uppercase
uppercase_string = input_string.upper()

# step3: display after convert uppercase string
print("Uppercase string is:", uppercase_string)

Enter your string :Bhopal , madhya pradesh india
Uppercase string is: BHOPAL , MADHYA PRADESH INDIA

Explantion:
1. we can take input as a string from user with help of input() function
2. convert input string in uppercase with the help of string.upper() method
3. display after convert uppercase string and use print()

# 5. Count the number of vowels in a string

In [26]:
# step1: create function tha takes input as string
def count_vowels(s):
    
# step2: initialize number of vowel
    no_vowels = 0
    
# step3: convert input string in lowercase
    s = s.lower()

# step4: define set of vowels
    vowels = set("aeiou")
    
# step5: itreate with the help of for loop
    for char in s:
        
# step6: check that character is vowel or no
        if char in vowels:
            no_vowels += 1
    return no_vowels

In [27]:
print(count_vowels("india, bharat"))

5

Explantion:
1. create function tha takes input as string
2. step2: initialize number of vowel
3. convert input string in lowercase
4. define set of vowels
5. itreate with the help of for loop
6. check that character is vowel or no
7. finally return the number of vowels

# 6.  Count the number of consonants in a string

In [39]:
# step1: create function tha takes input as string
def count_consonants(s):
    
# step2: initialize number of consonants
    no_consonants = 0
    
# step3: convert input string in lowercase
    s = s.lower()

# step4: define set of consonants
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
# step5: itreate with the help of for loop
    for char in s:
        
# step6: check that character is consonants or no
        if char in consonants:
            no_consonants += 1
            
# step7: return the number of consonants            
    return no_consonants

In [40]:
input_string = input("Enter your string:")
result = count_consonants(input_string)
print("Number of consonants is: ", result)

Enter your string:india is bharat
Number of consonants is:  7

Explanation:
1. create function tha takes input as string
2. initialize number of consonants
3. convert input string in lowercase
4. define set of consonants
5. itreate with the help of for loop
6. check that character is consonants or no
7. return the number of consonants

# 7.  Remove all whitespaces from a string

In [43]:
# step1: we can take input as a string from user
input_string = str(input("Enter your string :"))

# step2: create string without spaces
withoutspaces_string = ""

# step3: iterate string with the use of for loop
for char in input_string:
    if char!= " ":
        
# step4:if character is not whiltespaces
        withoutspaces_string += char
    
# step5: display string without spaces
print("Without whitespacs string is: ", withoutspaces_string)

Enter your string :vijay kumar shah
Without whitespacs string is:  vijaykumarshah

Explanation:
1. we can take input as a string from user
2. create string without spaces
3. iterate string with the use of for loop.
4. if character is not whiltespaces
5. display string without spaces

# 8.  Find the length of a string without using the `len()` function

In [47]:
# step1: we can take input as a string from user
input_string = str(input("Enter your string :"))

# step2: initialize string from 0 , assume that initially string length is 0
length_str = 0

# step3: iterate string with the use of for loop
for char in input_string:
    if char!= " ":
        
# step4:if only character is found in string then increament length of string with 1
        length_str += 1
    
# step5: display the length of string
print("Length of entered string is: ", length_str)

Enter your string :vijay kumar shah
Length of entered string is:  14

Explanation:
1. firstly we can take input as a string from user
2. initialize string from 0 , assume that initially string length is 0
3. iterate string with the use of for loop
4. if only character is found in string then increament length of string with    1.
5.  display the length of string using print()

# 9. Check if a string contains a specific word

In [1]:
# step1: take user input and specific word 
input_string = input("Enter your string : ")
specific_word = input("Enter your specific word: ")

# step2: check that specific word is present in input_string or not
if specific_word in input_string:
    
# step3: if yes then print your thought
    print(f"The string is contains of the word '{specific_word}'.")
    
# step4: print message if word in contains of input string
else:
    print(f"The string is not contains of the word '{specific_word}'.")

Enter your string : i am from bhopal and i am doing my engineering from barkaullah university
Enter your specific word: from
The string is contains of the word 'from'.

Explantion:
1. initially take user input string and specific word 
2. check that specific word is present in input_string or not 
3. if input string is contains of specific word then printout your message using print()
4. if input string is not contains of specific word then print your specific message

# 10.  Replace a word in a string with another word

In [6]:
# step1: take user input string
input_string = input("Enter your string : ")

# step2: take input string as old word and new word that which want to replace
old_word = input("Enter your old word to be replace: ")
new_word = input("Enter your new word: ")

# step3: replace your old word with new word  
result_string = input_string.replace(old_word,new_word)

# step4: After replace world print your modifeid string
print("After replace string is: ", result_string)

Enter your string :  i am vijay kumar shah from bhopal
Enter your old word to be replace: bhopal
Enter your new word: jabalpur
After replace string is:   i am vijay kumar shah from jabalpur

Explantion:
1. take user input string and use input() function
2. take input string as old word and new word that which want to replace
3. replace your old word with new word and used replace()
4. After replace world print your modifeid string with the help of print()

# 11.  Count the occurrences of a word in a string

In [12]:
# step1: first i have create one function who take input as string and word
def count_occurrence(input_string, target_word):
    
# step2: i have initialize one variable that count the number of words in input_string
    word_count = 0

#step3: in third step i have split string for to list then we can easily breakdown the string into list
    string_words = input_string.split()

# step4: itrete throw the for loop
    for char in string_words:
        
#step5: check that if target_word are contains , in string words or not        
        if char == target_word:

# step6: if targeted words are found in string then increament the word_count value from 1
            word_count += 1
    
#step7: finnaly return the value of number of words in given string    
    return word_count

2

In [14]:
count_occurrence("Read the migration plan to Notebook 7 to learn about the new features and the action to take if you are using extensions","the")

3

Explantion: 
1. first i have create one function who take input as string and word
2. i have initialize one variable that count the number of words in input_string
3. in third step i have split string for to list then we can easily  breakdown the string into list wit the help of .split()
4. itrete throw the for loop and traverse all string
5. check that if target_word are contains , in string words or not if char == target_word     
6. if targeted words are found in string then increament the word_count value from 1 using increament function i++ or i= i+1
7. finnaly return the value of number of words in given string

# 12. Find the first occurrence of a word in a string

In [37]:
# step1: create function that take input as string and words
def first_occurrence(input_string, target_word):
 
# step2: find the first occurrence of word in string 
    first_index = input_string.find(target_word)

# step3: check that if word is not present in string then return none    
    if first_index == -1:
        return none
    
# step4: return index string who appear first occurrence of word    
    return first_index

In [39]:
first_occurrence("find the firs occurrence of a word in a string","r")

11

Explanation:
1. create function that take input as string and words
2. find the first occurrence of word in string with the help of find() function
3. check that if word is not present in string then return none
4. return index string who appear first occurrence of word

# 13. Find the last occurrence of a word in a string

In [43]:
# step1: create function that take input as string and words
def last_occurrence(input_string, target_word):
 
# step2: find the last occurrence of word in string 
    last_index = input_string.rfind(target_word)

# step3: check that if word is not present in string then return none    
    if last_index == -1:
        return none
    
# step4: return index string who appear last occurrence of word    
    return last_index

In [44]:
last_occurrence("Find the last occurrence of a word in a string","r")

42

Explanation:
1. create function that take input as string and words
2. find the last occurrence of word in string  with the help of rfind() function
3. check that if word is not present in string then return none  
4. return index string who appear last occurrence of word

# 14. Split a string into a list of words

In [45]:
# step1: define funtion that takes input as string
def string_to_list(input_string):

# step2: split the string into list with the help of split() fuction
    list_of_words = input_string.split()
    
# step3: return the all words in the form of list from string
    return list_of_words

In [48]:
string_to_list("pathan jawan dunkey ddl, omshantiom")

['pathan', 'jawan', 'dunkey', 'ddl,', 'omshantiom']

Explanation:

1. define funtion that takes input as string
2. split the string into list with the help of split() fuction
3. return the all words in the form of list from string

# 15. Join a list of words into a string

In [57]:
# step1: define funtion that takes input as string
def list_to_string(input_list):

# step2: split the string into list with the help of split() fuction
    output_string = " ".join(input_list)
    
# step3: return the all words in the form of list from string
    return output_string

In [58]:
list_to_string(["vijay","ambresh","prabhat kumar shah","ajeet"])

'vijay ambresh prabhat kumar shah ajeet'

In [ ]:
Explanation:
# step1: define funtion that takes input as string
# step2: split the string into list with the help of split() fuction
# step3: return the all words in the form of list from string

# 16. Convert a string where words are separated by spaces to one where words are separated by underscores

In [70]:
# step1: define funtion that takes input as string
def string_to_list(input_string):
    
# step2: replace the spaces of string in underscore(-)
    modified_string = input_string.replace(" ","_")
    
# step3: after replace space to underscore(_) return the modified string
    return modified_string

In [71]:
string_to_list("My Name Is Vijay")

'My_Name_Is_Vijay'

Explanatio:
<!--
step1: define funtion that takes input as string 
step2: replace the spaces of string in underscore(-)
step3: after replace space to underscore(_) return the modified string
-->

# 17.  Check if a string starts with a specific word or phrase

In [5]:
def string_check(input_string,specific_word):
# Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    
    
    is_start  = input_string.startswith(specific_word)
    
# Step 2: Return the result of the check.
    return is_start

In [13]:
string_check("bhopal madhya pradesh india","bhopal")

True

Explanation:
1. first create function that take input as a string and prefix word
2. use the startswith() method to check that if the next starts with specifiec prefix.
3. finally return the result

# 18. Check if a string ends with a specific word or phrase

In [16]:
def string_check(input_string,specific_word):
# Step 1: Use the endswith() method to check if the text ends with the specified prefix.
    
    
    is_start  = input_string.endswith(specific_word)
    
# Step 2: Return the result of the check.
    return is_start

In [17]:
string_check("bhopal madhya pradesh india","india")

True

Explanation:
1. first create function that take input as a string and suffix word
2. use the endswith() method to check that if the next starts with specifiec prefix.
3. finally return the result

# 19. Convert a string to title case (e.g., "hello world" to "Hello World")

In [20]:
def convert_to_title_case(text):
    # Step 1: Use the title() method to convert the text to title case.
    title_case_text = text.title()

    # Step 2: Return the converted text.
    return title_case_text

In [21]:
convert_to_title_case("vijay kUmar ShaH")

'Vijay Kumar Shah'

Explanation:
1. craete function that's take input as string
2. Use the title() method to convert the text to title case.
3. Return the converted text.

# 20. Find the longest word in a string

In [25]:
def find_longest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the longest word and its length.
    longest_word = ""
    max_length = 0

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    # Step 4: Return the longest word.
    return longest_word

In [26]:
find_longest_word("vijay kumar shah")

'vijay'

Explanation:
1. Use the split() method to split the text into a list of words.
2. Initialize variables to keep track of the longest word and its length.
3. Iterate through the list of words.
4. Check if the length of the current word is greater than the current max_length.
5. Return the longest word.

# 21 . Find the shortest word in a string

In [29]:
def find_shortest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the shortest word and its length.
    shortest_word = None
    min_length = float('inf')  # Initialize to a large value

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is smaller than the current min_length.
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    # Step 4: Return the shortest word.
    return shortest_word

In [30]:
find_shortest_word(" shahrukh is one of the richest actor in the india")

'is'

Explanation:
1. Use the split() method to split the text into a list of words.
2. Initialize variables to keep track of the shortest word and its length.
3. Iterate through the list of words.
4. Check if the length of the current word is less than the current min_length.
5. Return the shortest word.

# 22. Reverse the order of words in a string

In [31]:
# step1: create funtion that take input as string
def Reverse_order(input_string):
    
# step2: divide the string into list
    modified_list = input_string.split()
    
# step3: using slicing method we can reverse
    result_list = modified_list[::-1]
    
# step4: after reverse we need to again join string using join() method
    reverse_string = " ".join(result_list)
    
# step5: finally return the reverse order of string    
    return reverse_string

In [32]:
Reverse_order("vijay kuamr shah")

'shah kuamr vijay'

Explanatin:
1. create funtion that take input as string
2. divide the string into list using split() method
3. using slicing method we can reverse like [::-1]
4. after reverse we need to again join string using join() method
5. finally return the reverse order of string

# 24.  Check if a string is alphanumeric

In [40]:
def check_alphanumeric(input_string):
    
# step1: check that is alphanumeric or not 
    text = input_string.isalnum()
    
# step2: finally return the result
    return text

In [45]:
check_alphanumeric("pw2002")

True

Explanation:
1. check that entered string is alphanumeric or not using isalnum() method
2. after check that return the value or result in bool form

# 25. . Extract all alphabets from a string

In [1]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

In [2]:
extract_alphabets("vijay kumar shah")

'v i j a y k u m a r s h a h'

Explanation:
1. first create function which take input as a string
2. check that input string is contains of alphabet or not using .isalpha() method
3. initialize a string for all alphabets from string
4. using join method we can combine character from the list
5. after perform jooi() method we can return our alphabets

# 26. Count the number of uppercase letters in a string

In [3]:
# step1: create function that take input as a string
def count_uppercase(input_string):
    
# step2: initialize the variable that can count number of uppercase letters in string
    count = 0
    
# step3: iterate throw the foor loop and check that string is contains of uppercase or not
    for char in input_string:
        if char.isupper():
            
# step4: after check that ,if string uppercase found then increament the value of count from 1
            count = count+1
    
#step5: finally return the value of count
    return count

In [5]:
count_uppercase("Vijay Kumar SHAH")

6

Explanation:
1. create function that take input as a string
2. initialize the variable that can count number of uppercase letters in string
3. iterate throw the foor loop and check that string is contains of uppercase or not using .isupper()
4. after check that ,if string uppercase found then increament the value of count from 1 ,count += 1
5. finally return the value of count

# 27. Count the number of lowercase letters in a string

In [6]:
# step1: create function that take input as a string
def count_lowercase(input_string):
    
# step2: initialize the variable that can count number of lowercae letters in string
    count = 0
    
# step3: iterate throw the foor loop and check that string is contains of lowercase or not
    for char in input_string:
        if char.islower():
            
# step4: after check that ,if string lowercase found then increament the value of count from 1
            count = count+1
    
#step5: finally return the value of count
    return count

In [7]:
count_lowercase("Vijay kumar Shah")

12

Explanation:
1. create function that take input as a string
2. initialize the variable that can count number of lowercase letters in string
3. iterate throw the foor loop and check that string is contains of uppercase or not using .islower()
4. after check that ,if string lowercase found then increament the value of count from 1 ,count += 1
5. finally return the value of count

# 28.  Swap the case of each character in a string

In [8]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

In [9]:
swap_case("Barkatullah University Bhopal")

'bARKATULLAH uNIVERSITY bHOPAL'

Explanation:
1. create function that take input as a string
2. initialize the variable that can store after swapped the case of string
3. swap each word of string upper to lower or lower to upper case using swapcase() funtion
4. after swap the case of string retur it and display the result

# 29.  Remove a specific word from a string

In [10]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

In [11]:
remove_word("vijay kumar shah ambresh kumar vaishay","kumar")

'vijay shah ambresh vaishay'

Explanation
1. create function that take two string as a input first string is complete string and second string is specific string which i need to remove from string first
2. split the string into list using split function
3. iterate throw the for loop and check that , if word is equal to specific string or not
4. after check that modify the string again combline character using .join() method
5. finally return the value of modified string

# 30.  Check if a string is a valid email address

In [12]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

In [13]:
is_valid_email("ambershvaishy123@gmail.com")

True

Explantion:
1. import the re module from libery for regular expression in python
2. define the function that can input parameter as a email
3. then create Regular expression pattern for a basic email validation
4. check that pattern and email are match are not 
5. return value in bool form

# LIST BASED PRACTICE PROBLEMS

# 1. Create a list with integers from 1 to 10

In [21]:
# Use a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Explanation:
1. Use a list comprehension to create a list of integers from 1 to 10
2. i for i in range(1,11) basically iterate throw the for loop and add number in list
3. print the list using print() function

# 2. Find the length of a list without using the `len()` function

In [22]:
# step1. create function that take input as list
def custom_len(input_list):
    
# step2: initialize the count from 0 that store the value of length    
    count = 0
    
# step3: iterate throw the for loop and check that     
    for _ in input_list:
        
# step3: increament the value of count from 1 
        count += 1
    
# step4: finally return the value of count
    return count

In [24]:
custom_len([2,3,4,5,6,78])

6

Explanation:
1. create function that take input as list which we will find length
2. initialize the count from 0 that store the value of length
3. iterate throw the for loop  in given list 
4. during the traversing increament the value of count from 1 
4. finally return the value of count

# 3.  Append an element to the end of a list

In [32]:
# step1: create the function that take two arguments fist is list and second new element which i want to add in list
def add_new_element(initial_list,new_element):

# step2: append the list with new element
    initial_list.append(new_element)
    
# step3: finally display the value updated list
    print("My Updated list is:", initial_list)

In [33]:
add_new_element([1,2,3,4,56],44)

My Updated list is: [1, 2, 3, 4, 56, 44]

Explanation:
1. create the function that take two arguments fist is list and second new element which i want to add in list
2. append the list with new element with the help of append() method
3. finally display the value updated list and use print()

# 4. Insert an element at a specific index in a list

In [34]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

Explanation:f
1. irst we need to create list 
2. choose new which i want want to insert in list
3. Index at which to insert the element
4. Insert the new element at the specified index using inset() function
5. Print the updated list

# 5. Remove an element from a list by its value

In [35]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element_to_remove = 30

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

1. first i need to create list 
2. choose new value which i want want to remove from the list
3. remove the element from the list which have given using .remove() function
4. finnaly print your modified list

# 6.  Remove an element from a list by its index

In [45]:
# create function that take two arguments list and index 
def remove_element(input_list,idx):
    
# pop() element from the specific index
    input_list.pop(idx);
    
# finnaly the return the value of modified list
    return input_list

In [46]:
remove_element([1,2,3,4,5,6],2)

[1, 2, 4, 5, 6]

Explnation:
1. create function that take two arguments first is list and second is index 
2. we need to pop element on the specific index which i have entered 
3. use the pop() method to delete element from list.
4. finnaly return modified list as as finall list

# 7. Check if an element exists in a list

In [3]:
# create function that take two arguments input list and other is element
def check_element(input_list, element):
    
    
# check that element is exist in given list or not
        if element in input_list:
            print(element,"are present in the list")
        else:
            print(element,"are not present in the list")

In [4]:
check_element([1,2,3,45],4)

4 are not present in the list

Explanation:
1. create function that take two arguments input list and other is element which i want to check
2. through if(), else() condition i need to check that element are present in list or not
3. if yes then print(element,"are present in the list")
4. if element is not exist in list then, print(element,"are not present in the list")

# 8. Find the index of the first occurrence of an element in a list

In [11]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

Explanation:
1. firstly i have created my list where i need to find my element index
2. second thing that is to enter your element then can check that my element in list or not
3. using .index() method check that element
4. after check if yes then print first occurrence means index of element

# 9. Count the occurrences of an element in a list

In [17]:
# Example list
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element_to_count = 30

# Count the occurrences of the element
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

Explanation:
1. in first step create your list
2. enter your element which i want to count in list
3. Count the occurrences of the element using count() method
4. Print the count

# 10. Reverse the order of elements in a list

In [18]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

Explanation:
1. in first step create your list
2. to find reverse order of  the list using .reverse() method
3. display the reversed list using print()

# 11.  Sort a list in ascending order

In [26]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

Explanation:
1. in first step create your list
2. Sort the list in ascending order using .sort() method
3. display the sortest list using print() method

# 12. Sort a list in descending order

In [27]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

Explanation:
1. 1. in first step create your list
2. Sort the list in descending order using .sort() method list with reverse parameter set True to sort the element in descending order
3. display the sortest list using print() method

# 13. Create a list of even numbers from 1 to 20

In [28]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Explanation:
1. Use a list comprehension to create a list of even numbers from 1 to 20 using range() function
2. here we can start our range function with range(2,20,2)
3. Print the list of even numbers

# 14. Create a list of odd numbers from 1 to 20

In [30]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Explanation:
1. Use a list comprehension to create a list of odd numbers from 1 to 20 using range() function
2. here we can start our range function with range(1,20,2)
3. Print the list of odd numbers

# 15.  Find the sum of all elements in a list

In [31]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

Explanation:
1. create your list
2. Calculate the sum of all elements in the list using sum() function
3. in sum i need to pass my list like sum(my_list)
4. dispaly your sum of element in list

# 16. Find the maximum value in a list

In [33]:
# create your  list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

Explanation:
1. create your list
2. finding maximum value in the list using max() method
3. max() function basically return the max value in any list
4. display the maximum value of list

# 17. Find the minimum value in a list

In [34]:
# create your list
my_list = [10, 20, 30, 40, 50]

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 10

Explanation:
1. create your list
2. finding minimum value in the list using min() method
3. min() function basically return the minmum value in any list
4. display the minimum value of the list

# 18. Create a list of squares of numbers from 1 to 10

In [35]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Explanation:
1. Use a list comprehension to create a list of squares of numbers from 1 to 10
2. the expression [x**2 for x in ] basically itretate in range(1,11)
3. for each value of first its do square and then add these on list
4. square variable basically store all these value
5. Print the list of squares

# 19. Create a list of random numbers

In [36]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [48, 70, 89, 72, 74, 19, 78, 20, 21, 18]

1. import radom module at begining of the code
2. comprehension expression basically generate random value in range and use it
3. i have generate 10 random value of range(1,100)
4. finnaly display your result

# 20. Remove duplicates from a list

In [37]:
# create your function that take input as a list
def remove_duplicates(input_list):
    
# and create one variable than store list like ...
    without_duplicate = list(set(input_list))
    
# finally return your modifild list
    return without_duplicate

In [38]:
remove_duplicates([1,2,3,4,5,2,3,4,5])

[1, 2, 3, 4, 5]

Explanation:
1. create your function and pass one argument as a list
2. and create one variable than store list
3. convert your list into set, because set always remove the duplicate values
4. again convert value in list
5. that's all things are going to store in with_duplicate variable
6. finally return your modified list , with duplicates

# 21. Find the common elements between two lists

In [10]:
# create two list where i have to find common element between them
first_list = [3,4,6,78,9,2]
second_list = [2,3,89,43,21]

# throw the comprehension expression itreate list one then check that element is present or not
find_common = [x for x in first_list if x in second_list]

# display the finnaly result using print() method
print("common element between two list is:",find_common)

common element between two list is: [3, 2]

Explanation:
1. create two list first_list and second_list
2. iterate throw the comprehension expression using x for x in
3. check that in first_list element avaiable are not in second_list
4. store all these element one common variable
5. finally display your result using print() function

# 22.  Find the difference between two lists

In [11]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

Explanation:
1. create two list first_list and second_list
2. Find the difference between lists using the difference() method
3. difference() method basically provide me difference two list
4. store all these element one common variable like difference
5. finally display your result using print() function

# 23.  Merge two lists

In [12]:
# Example lists
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

Explanation:
1. create two list first_list and second_list
2. Merge lists using the + operator
3. through the + operator we easily merge two list
4. store merge list one other variable
5. finally display your result using print() function

# 24.  Multiply all elements in a list by 2

In [13]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

Explanation:
1. create list
2. Merge lists using the + operator
3. Multiply all elements by 2 using a list comprehension
4. Print the multiplied list

# 25.  Filter out all even numbers from a list

In [1]:
# Example list
my_list = [1,2,3,4,5,7,8]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x for x in my_list if x%2 ==0]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [2, 4, 8]

Explanation:

1. create a list
2. interate through the comprehension expression every element in the list
3. through the traversing check that element is even or not using x%2==0
4. finally dislay the value of our list using print() method

# 26. Convert a list of strings to a list of integers

In [10]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

Explnation:
1. we start list with in the form of string element
2. iterate through the comprehension list in string_list
3. using int() function we can covert our string to integer value
4. display the finnaly outcome of your list using print() function

# 27.  Convert a list of integers to a list of strings

In [14]:
# create your own integer list
integer_list = [ 1,23,4,5,6,7]

# convert integer list to string list using comprehensive list
string_list = [str(x) for x in integer_list]

# print your string list using print() fucntion
print("List of string is:",string_list)

List of string is: ['1', '23', '4', '5', '6', '7']

Explanation:
1. we can start our list with integer value
2. iterate throw the comprehesive list 
3. using str() function convert integer to string value
4. finnaly display your string ling

# 28.  Flatten a nested list.

In [15]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Explanation:
1. create your nested list means list inside or sublist
2. then define your function flatten_list that one argument as nested list
3. initialize and declare one variable with empty list
4. iterate through the for loop
5. if the list flatten list then directly call the recursively flatten_list() function
6. if element is not sublist then directly append it in flatten_list
7. Finally return your flatten list

# 29. Create a list of the first 10 Fibonacci numbers.

In [23]:
# create function that take one arguments , integer value
def fibonacci_number(n):
    
# initialize first two term of fibonacci series    
    fibonacci_list = [0,1]
    
# iterate through the for loop in given range of seris    
    for i in range(2,n):
        
# find fibonacci element nth term = (n-1)th term + (n-2)th term
        next_fibonacci = fibonacci_list[i-1]+fibonacci_list[i-2]
    
# we can append our next list with starting fibonacci list
        fibonacci_list.append(next_fibonacci)
    
# finally return the fibonacci list
    return fibonacci_list

In [21]:
fibonacci_number(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Explanation:
1. create function that take one arguments , integer value
2. initialize first two term of fibonacci series from 0 to 1 like [0,1]
3. iterate through the for loop in given range of seris  like range(2,n)
4. range() function provide me value given range
5. use append() function for join all list
6. finally return your fibonacci list

# 30. Check if a list is sorted

In [ ]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 5, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

Explanation:
1. create function that take one argument as list
2. iterate through the for loop in given range()
3. range() function basically help in traverse element in loop
4. check that given list sort in ascending order or not
5. if list is sorted then, print,list is sorted using print() function
6. if list is not sorted then, print,list is sorted using print() function

# Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5

In [67]:
# declare your tuple and put element in range
integer_tuple = (1,2,3,4,5)

# dispaly your tuple value
print(integer_tuple)

(1, 2, 3, 4, 5)

In [68]:
type(integer_tuple)

tuple

Explanation:
1. we can create our tuple using () parantheis in given range
2. and display your final tuple using print() function

# 2. Access the third element of a tuple

In [69]:
# Step 1: Create a tuple with some elements
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

Explanation:
1. we can do first thing is a create a tuple with some of element
2. we can perform indexing operation for access third element from tuple
3. my_tuple[2] like that we can access our element 
4. display your result using print()

# 3.  Find the length of a tuple without using the `len()` function

In [78]:
# Step 1: Create a tuple with some elements
my_tuple = (1,12,3,4,5,6,8)

# initialize the variable that count the element
count = 0
# Step 2: traverse through for loop 
for i in my_tuple:
    if i in my_tuple:
        count =  count+1

# Step 3: Print your result
print("length of tuple is:", count)

length of tuple is: 7

Explanation:
1. first things is that create a tuple with some element where we can check that what is length
2. initialize and declare the varialbe that count the element in tuple
3. then we can iterate the tuple with the help of for loop and we can traverse each element
4. check that if integer in tuple then increament my count value from 1
5. finally display your result using print() function

# 4.  Count the occurrences of an element in a tuple

In [86]:
# creat your tuple with some element
my_tuple = (1,2,3,45,2,3,9,3,2,1,5)

# initialize your one varialbe with interger value
my_element = 1

# decalre another variable for storing the value occurrence in tuple
count = 0

# traverse through the for loop and check that element
for i in my_tuple:
    if i == my_element:
        
# increament the value of count from 1
        count = count+1
    
# finally display your number of occourrence
print(" Occurrence of",my_element,"in tuple",my_tuple,"is :",count)

 Occurrence of 1 in tuple (1, 2, 3, 45, 2, 3, 9, 3, 2, 1, 5) is : 2

Explanation:
1. creat your tuple with some element
2. initialize one variable with integer value which i have to count occurrence in tuple
3. we can declare another variable for storing occurrence value of element 
4. traverse tuple with the help of for loop and check that  element is equal to tuple element or not
5. if tuple element and entered element are matched , then increament value of count from 1
6. finally use print() and display your result

# 5. Find the index of the first occurrence of an element in a tuple.

In [96]:
# creat your tuple with some element
my_tuple = (1,2,3,45,2,3,9,3,2,1,5)

# initialize your one varialbe with interger value
my_element = 20

# initiazlie your index -1, here -1 is say that element is not found in tuple
first_index = -1
for i, item in enumerate(my_tuple):
    if item == my_element:
        first_index = i
        break
    
# finally display your number of occourrence
if first_index!= -1:
    
    print(" First Occurrence of", my_element,"in given tuple is:",first_index)
else:
    print(f"{my_element} are not fount in tuple {my_tuple}.")

20 are not fount in tuple (1, 2, 3, 45, 2, 3, 9, 3, 2, 1, 5).

Explnation:
1. creat your tuple with some element
2. initialize your one varialbe with interger value
3. initiazlie your index -1, here -1 is say that element is not found in tuple
4. traverse your tuple with the help of for loop and check that , here enumerate function provide  find index i and element       items
5. if conditon are satisfied then store index value in another variable called first_indes
6. finally display your number of occourrence

# 6. Check if an element exists in a tuple

In [7]:
# create your tuple with some element
my_tuple = (2,3,4,5,6,8)

# initialize your element which you to check that in given tuple
check_element = 10

# check that and print if element is exist in tuple or not
if check_element in my_tuple:
    print(f"Yes, Given element {check_element} exists in tuple")
else:
    print(f"{check_element} Does not exists given tuple")

10 Does not exists given tuple

Explanation:
1. first thing we can do create our own tuple
2. initialize your element which you to check that in given tuple
3. check that element is exists in given tuple or not
4. dispaly your message as per conditon using print() function

# 7. Convert a tuple to a list

In [11]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

Explanation:
1. first thing is create tuple with some element
2. convert our tuple into list using list() method
3. list() method basically used to convert one any thing from tuple
4. Print the resulting list using print() method

# 8. Convert a list to a tuple

In [12]:
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list into tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting list
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

Explanation:
1. first thing is create tuple with some element
2. convert our list into tuple with help of tuple() method
3. tuple() method basically used to convert in the form of tuple
4. Print the resulting list using print() method

# 9. Unpack the elements of a tuple into variables

In [15]:
# create tuple
my_tuple = (3,43,5,6)

# unpack the tuple of element into variable
var1,var2,var3, var4 = my_tuple

# print our tuple value
print("first variable is:",var1)
print("second variable is:",var2)
print("third variable is:" ,var3)
print("fourth variable is:",var4)

first variable is: 3
second variable is: 43
third variable is: 5
fourth variable is: 6

Explanation:
1. create your tuple with some element
2. second thing create variable for storing tuple element
3. then unpack the tuple of element into variable
4. finnaly display value of variable

# 10. Create a tuple of even numbers from 1 to 10

In [18]:
# throw the comprehension create list in given range
even_list = [num for num in range(2,11,2)]

# convert these list in tuple
even_tuple = tuple(even_list)

# finally display your outcome
print("My tuple of even number is: ", even_tuple)

My tuple of even number is:  (2, 4, 6, 8, 10)

Explanation:
1. we use list comprehension for element generate list of even number. 
2. the range(2,11,2 generate even number from 2  and increasing by 2 upto 11
3. convert our list into tuple using tuple() method
4. display your final result using print function

# 11.  Create a tuple of odd numbers from 1 to 10

In [3]:
# throw the comprehension create list in given range
odd_list = [num for num in range(1,10,2)]

# convert these list in tuple
odd_tuple = tuple(odd_list)

# finally display your outcome
print("My tuple of even number is: ", odd_tuple)

My tuple of even number is:  (1, 3, 5, 7, 9)

Explanation:
1. we generally used list comprehension for generate odd number in list
2. convert thise list into tuple
3. dispaly your outcome using print()

# 12.  Concatenate two tuples

In [6]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

Explnation:
1. create two tuple
2. use + operator to concatenate the two tuples
3. print the concatenated tuple

# 13.  Repeat a tuple three times

In [7]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)


# Step 2: Concatenate the two tuples
repeat_tuple = 3*tuple1

# Step 3: Print the concatenated tuple
print("My new tuple is:",repeat_tuple)

My new tuple is: (1, 2, 3, 1, 2, 3, 1, 2, 3)

Explnation:
1. create tuple basically
2. use * operator to repeat any tuple in any number of time
3. print the finall tuple using print()

# 14. Check if a tuple is empty

In [15]:
# Step 1: Create two tuples
non_tuple1 = (1,2,3)
empty_tuple = ()

# check that if tuple are empty or not
if not empty_tuple:
    print("My tuple is empty")
else:
     print("My tuple is  empty")
        
        
if  non_tuple1:
    print("My tuple is not empty")
else:
     print("My tuple is not empty")

My tuple is empty
My tuple is not empty

Explanation:
1. create two first is non empty tuple that name is non_tuple1 and second is empty tuple name is empty_tuple
2. check that empty tuple in non empty tuple
2. print() your result

# 15.  Create a nested tuple

In [16]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

Explanation:
1. create nested tuple, here nested tuple means that tuple inside tuple . you can see that nested_tuple that have three tuple
2. display your result using print()

# 16.  Access the first element of a nested tuple

In [17]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

Explnation:
1. Create a nested tuple
2. Access the first element of the nested tuple and we can use indexing nested_tuple[0]
3. Print the first element

# 17. Create a tuple with a single element

In [21]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

Explnation:
1. Create a single element tuple called single_element_tuple. in here you can see that trailing comma in tuple its inform that you want to only single element in tuple
2. print your tuple

# 18.  Compare two tuples

In [24]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

Explanation:
1. create two tuple tuple1 and tupl2.
2. we can compare both tuple using various type of inequality operator or comprison operator

# 19. Delete a tuple

In [25]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

Explanation:
1. create a tuple
2. we can delete tuple using 'del' statement 
3. after del if i am try to call tuple then it's will give name error because now it does not exist

# 20. Slice a tuple

In [31]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,16,25,36,49,64,81)

# Step 2: element from index number 8 to 12 will be accessable
slice_tuple = my_tuple[8:13]

# Step 3: display your result
print("My slicing tuple is:",slice_tuple)

My slicing tuple is: (9, 16, 25, 36, 49)

Explanation:
1. we can start our tuple it name is my_tuple
2. slicing generally used to exract portion in tuple given range [start:end] . exmamle my_tuple[8:13] give me element from 8 to 12 index
3. show your result using print() statement

# 21.  Find the maximum value in a tuple

In [36]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,16,25,36,49,64,81)

# find max value using max() function
max_value = max(my_tuple)

# finnaly return your result
print("Max value of tuple is: ", max_value)

Max value of tuple is:  81

Explanation:
1. create your tuple with some eleemnt
2. find maximum value of tuple using max() function
3. max() function basically return max value in tuple if pass in tuple
4. dispaly your result

# 22.  Find the minimum value in a tuple

In [37]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,16,25,36,49,64,81)

# find minimum value using min() function
min_value = min(my_tuple)

# finally return your result
print("Max value of tuple is: ", min_value)

Max value of tuple is:  1

Explanation:
1. create your tuple with some eleemnt
2. find manimum value of tuple using min() function
3. min() function basically return minimum value in tuple if pass in tuple
4. dispaly your result

# 23.  Convert a string to a tuple of characters

In [51]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

Explanation:
1. first thing is create your string basically
2. after create string convert string into tuple using tuple() function
3. display your tuple value

# 24. Convert a tuple of characters to a string

In [56]:
# create tuple of character
tuple_of_character = ('V','i','j','a','y',' ','K','u','m','a','r',' ','S','h','a','h')

# convert tuple of characters into string
my_string = ''.join(tuple_of_character)

# finally display your result
print("My latest string is:",my_string)

My latest string is: Vijay Kumar Shah

Explanation:
1. create tuple of character in the form of tuple
2. convert tuple of character into a perfect string using join() method
3. join() funtion basically used to create single string
4. then print() the result

# 25.  Create a tuple from multiple data types

In [59]:
# create tuple with different data types element
my_tuple = (1,2,3,[4,9,16],'vijay','A',34.54,'a')

# display your result
print("My tuple with multiple data type is:",my_tuple)

My tuple with multiple data type is: (1, 2, 3, [4, 9, 16], 'vijay', 'A', 34.54, 'a')

Explanation:
1. create tuple with multiple data type like intiger, float,char,string, list
2. and display your result

# 26. Check if two tuples are identical

In [60]:
# create your tuple 
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (1,4,9)

# using == operator we can check that two tuples are indentical or not
identical1 = tuple1 == tuple2
identical2 = tuple1 == tuple3

# finally dispaly your result
print("tuple1 and tuple2 are identical or not: ",identical1)
print("tuple1 and tuple3 are identical or not: ",identical2)

tuple1 and tuple2 are identical or not:  True
tuple1 and tuple3 are identical or not:  False

Explanation:
1. first thing is create tuple more then 2 or three
2. then check that your tuples are identical or not using comparing operator '=='
3. display your result in the form of True or False

# 27. Sort the elements of a tuple

In [61]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

Explanation:
1. create one unsorted tuple
2. convert your tuple in list then sorted it, after sorted list convert back into tuple
3. we can generally use for sorting sorted() method
4. finally return your outcome through the print() method

# 28. Convert a tuple of integers to a tuple of strings

In [69]:
# create your tuple with ingeter value
tuple_of_integers = (1,2,34,5)

# use list comprehension to itrate and convert each elelment in list
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# finally display your result
print(" Final Outcome is: ", tuple_of_strings)

 Final Outcome is:  ('1', '2', '34', '5')

Explanation:
1. first thing is create your tuple
2. generally use listcomprehension to itrate each element of list and convert it in string using str() function
3. then we need to convert list of string to tuple using tuple() fucntion
4. finally display your result

# 29. Convert a tuple of strings to a tuple of integers

In [72]:
# create your tuple 
tuple_of_string = ('1','2','3','4','5')

# use list comprehension to itrate and convert each elelment in list
tuple_of_integer = tuple(int(item) for item in tuple_of_integers)

# finally display your result
print(" Final Outcome is: ", tuple_of_integer)

 Final Outcome is:  (1, 2, 34, 5)

Explanation:
1. first thing is create your tuple
2. generally use listcomprehension to itrate each element of list and convert it into integer using int() function
3. then we need to convert list of integer to tuple using tuple() fucntion
4. finally display your result using print() fucntion

# 30. Merge two tuples

In [73]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

Explanation:
1. create two tuples
2. use '+' operator to merge two tuples
3. display your merge tuple in one

# 31. Flatten a nested tuple

In [74]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
Explanation:
1. create a recursive function that name is flatten_tuple and it pass one argument as tuple called nested_tuple
2. iterate through the for loop and check that 
3. if in nested tuple element is already tuple then we generally call recursive function on that element and extended the flattend list
4. if element is not tuple then generally append it in tuple

#  Set Based Practice Problem :

# 1.  Create a set with integers from 1 to 5

In [77]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

Explanation:
1. create empty set which don't have element is called my_set
2. add integer from 1 to 5 using add() method,
3. add() function basically try to add element in set data type

# 2.  Add an element to a set

In [1]:
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

Explanation:
1. create set with some eleemnt, my_set has store element in the form of set
2. display your origional set before add elementin set
3. store elemen in any variable which i have to put in set
4. add element in set using add() method
5. after add element display your set using print() method

# 3. Remove an element from a set

In [2]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

Explanation:
1. Create a set with some elements
2. Print the original set
3. Choose an element to remove
4. Use the remove() method to remove the chosen element
5. If the element is not present in the set, remove() raises a KeyError.
6. Print the modified set after removal

# 4. Check if an element exists in a set

In [5]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check: 12
12 does not exist in the set.

Explanation:
1. Create a set with some elements
2. Ask the user for the element they want to check and to take input we can use input() function
3. Use the "in" keyword to check if the element exists in the set
4. If the element exists in the set, print a message
5. If the element does not exist in the set, print a message

# 5.  Find the length of a set without using the `len()` function

In [9]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

Explanation:
1. Create a set with some elements called my_set
2. Initialize a variable to count the elements in the set,count = 0
3. Iterate through each element in the set and we can iterate usin for loop
4. Increase the count by 1 for each element
5. Print the count, which is the length of the set

# 6.  Clear all elements from a set

In [12]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# print your set before clear all element from set
print("Befor Clear the element set is:",my_set)

# print your set after clear all element from set
print("After Clear the element set is:",my_set.clear())

Befor Clear the element set is: {1, 2, 3, 4, 5}
After Clear the element set is: None

Explanation:
1. create a set with some elements
2. before clear dispaly your set using print() function
3. for clear all element from set we can use clear() its can remove all element from set
4. after clear element dispaly your set

# 7. Create a set of even numbers from 1 to 10

In [19]:
# create empty() set
even_number_set = set()

# iterate through for loop and check that in range (1,11)
for num in range(1,11):
    
# check that number is even or not
    if num%2 == 0:
        
# if number is even then add this element into empty set        
        even_number_set.add(num)
    
# finally dispaly your result
print("Set of even number is:",even_number_set)

Set of even number is: {2, 4, 6, 8, 10}

Explanation:
1. create one empty set using set() that is called empty set which don't have element
2. we use for loop for iterate number in range(1,11)
3. and we can check that number is even or not using num%2 == 0, if this condition are satisfied then it is ok
4. then add your element number in set using add() function
5. generally add() function are used to add element in set
6. finally after add even element in set, we can display our set using print()

# 8. Create a set of odd numbers from 1 to 10

In [20]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

Explanation:
1. create one empty set using set() that is called empty set which don't have element
2. we use for loop for iterate number in range(1,11)
3. and we can check that number is odd or not using num%2 != 0, if this condition are satisfied then it is ok
4. then add your element number in set using add() function
5. generally add() function are used to add element in set
6. finally after add odd element in set, we can display our set using print()

# 9. Find the union of two sets

In [21]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

Explantion:
1. first thing is create two set
2. then we can add two set with the help of union()
3. union() are generally used to adding element
4. finally display your result or modified set

# 10.  Find the intersection of two sets

In [24]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {4, 5}

Explantion:
1. first thing is create two set
2. then we can intersect two set with the help of intersection()
3. intersection() function are generally used to find common element from two or more set
4. finally display your result or modified set

# 11.  Find the difference between two sets

In [26]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

Explanation:
1. first thing is create two set
2. then we can find difference between two sets using difference() function
3.difference() fuction are generall used to find difference between two set
4. finally display your result

# 12. Check if a set is a subset of another set

In [29]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

Explanation:
1. define two set 
2. after define two set check that sets are subset or not
3. we can check subset using issubset() function
4. finally dispaly your result

# 13.  Check if a set is a superset of another set

In [30]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

Explanation:
1. define two set 
2. after define two set check that sets are superset or not
3. we can check superset using issuperset() function
4. finally dispaly your result

# 14. Create a set from a list

In [32]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

Explnation:
1. create a list of element 
2. Use the set() constructor to convert the list into a set
3. and set() automatically removes duplicates and creates a set with unique elements
4. Print the original list and the resulting set

# 15. Convert a set to a list

In [33]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

Explnation:
1.  Create a set with some elements
2. Convert the set to a list using the list() function
3. Now, my_list contains the elements from my_set in list format
4.  Print the original set and the converted list using print()

# 16.  Remove a random element from a set

In [34]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}


Explanation:
1. first thing is import random module for choose random element from the set
2. create set with some element
3. and we can dispaly our origional set using print()
4. then we can choose randome variable from the set using the randome.choice() function
5. randome.choice() basically used to choose random element
6. after choose randome element we can remove from the set using remove() funcion
7. finally we can display our updated set using print() function

# 17.  Pop an element from a set

In [39]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

Explanation:
1. first thing is create a set with some random elements
2. then second thing we can do print() our origional set
3. Pop an element from the set using the pop() method
4. Print the element that was popped using print() function, poped_element
5. Print the set after popping an element

# 18. Check if two sets have no elements in common

In [42]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

Explanation:
1. define two sets , here set1 and set2
2. Check if the intersection of the two sets is empty
3. The intersection is the set of elements that are common to both sets
4. Check if the common_elements set is empty using if() and else() statement
5. as per condition print your message or thought

# 19. . Find the symmetric difference between two sets

In [45]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

Explanation:
1. define two sets , here set1 and set2
2. calculate the symmetric difference using ^ operator
3. ^ operator used to find symmetric difference means either element in both sets, not their intersection
4. finnaly print your outcome

# 20. Update a set with elements from another set.

In [46]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

Explanation:
1. create the set with element
2. then second thing we can do print our set
3. then create your second set with element
4. print the second set
5. Update set1 with elements from set2 using update() function
6. after this function our set will be contain of all uniqe elements in the sets
7. finally display our result

# 21. Create a set of the first 5 prime numbers

In [3]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

Explanation:
1. create Function to check if a number is prime
2. Create an empty set to store the prime numbers called set()
3. Initialize the number to start checking for primes
4. Loop until we have found the first 5 prime numbers
5. Check if the current number is prime using the is_prime function
6. If the number is prime, add it to the prime_set
7. Move on to the next number for the next iteration
8. display your set of prime number using print() method

# 22.Check if two sets are identical

In [2]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

Explanation:
1. define two sets with some element
2. order doesn't matter in sets
3. Check if the sets are identical using the `==` operator
4. Sets are unordered collections, so the order of elements doesn't matter.
5. The `==` operator compares the content of the sets.
6. finally print your result using print() method

# 23. Create a frozen set

In [4]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

Explanation:
1. define a list of element that you want to include in the frozen set
2. we can create frozen set using such a kind constructor 
3. after create constructure we need to pass the list of element
4. finally print() your result

# 24. Check if a set is disjoint with another set

In [5]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

Explanation:
1. Define the two sets you want to check for disjointness
2. Use the `isdisjoint()` method to check if the sets are disjoint
3. The `isdisjoint()` method returns True if the sets have no common elements,
4. and False if they have at least one common element.
5. Print the result

# 25. Create a set of squares of numbers from 1 to 5

In [8]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

Explanation:
1. Create an empty set to store the squares of numbers
2. Use a loop to iterate through numbers from 1 to 5
3. Calculate the square of the current number
4. Add the square to the set
5. Print the set of squares
6. here ' ** ' operator are genearally are used to calculated the square of any number

# 26 .  Filter out all even numbers from a set

In [9]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

Explanation:
1. Create a set with integers from 1 to 5
2. Initialize an empty set to store the filtered even numbers
3. Iterate through each element in the original set
4. Check if the current number is even (divisible by 2)
5.  If even, add it to the even_numbers_set

# 27.  Multiply all elements in a set by 2

In [16]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

Explanation:
1. first things is create set with integer from 1 to 5
2. Initialize an empty set to store the multiplied elements
3. Loop through each element in the original set we can iterate and 
4. multiply the current element by 2
5. Add the multiplied element to the multiplied_set using add() function
6. The original_set remains unchanged
7. Display the set with elements multiplied by 2

# 28. Create a set of random numbers

In [20]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {33, 2, 97, 80, 84}

Explanation:
1. Import the `random` module to generate random numbers
2. Define the number of random numbers you want in the set
3. Initialize an empty set to store the random numbers called set()
4. Use a loop to generate random numbers and add them to the set
5. Generate a random integer using the `randint` function from the `random` module
6. Generate a random number between 1 and 100 using random.randint() function
7. Add the random number to the set using add() function
8. Print the generated set of random numbers using print() function

# 29.  Check if a set is empty

In [21]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

1. Create a set (you can replace this with your own set) and initialize with empty set , called set()
2. after check that set is empty or not display your message using print() function

# 30.  Create a nested set (hint: use frozenset)

In [23]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

Explanation:
1. create the inner set at least two set1 and set2 from (1,5) and (6,10)
2. create frozensets from the inner sets
3. create the nested set using the frozenset
4. use of frozenset that ensure that inner set are immutable and can be used as element for another set
5. finally display your result

# 31.  Remove an element from a set using the discard method

In [24]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

Explanation:
1. create a set with some elements 
2. then we can display our set using print() function
3. which elemet we want to remove need to define that, element_to_remove
4. for remove element from set we generally use discard() function
5. if element are not present in set ,then discard() will return error
6. we can dispaly our set after remove the element from the set using print() function

# 32. Compare two sets

In [25]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

1. Define two sets , set1, and set2
2. Use set operations to compare the sets like subset, superset,intersection, union , difference
3. Check if set1 is a subset of set2 using issubset() function
4. Check if set2 is a subset of set1
5. Find the intersection of the sets , using intersection() function
6. Find the union of the sets just use union() function
7. Find the elements that are in set1 but not in set2 
8. Find the elements that are in set2 but not in set1
9. Print the results

# 33.  Create a set from a string

In [31]:
# Step 1: Define the input string
input_string = "pushpa"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'p', 'u', 'a', 's', 'h'}

Explanation:
1. first thing is define your string 
2. then we generally use the set() constructor to create a set from the characters in the string
3. set() function have some work like , remove duplicate from set and second it's manage order of data
4. display your result

# 34.  Convert a set of strings to a set of integers

In [44]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

Explanation:
1. frist things is create set with use integer as string
2. second thing is initialize an empty set to store integer value called integer_set
3. iterate string using for loop and traverse every word in string
4. then we cna convert string to integer set values using int() and store it in any other variable
5. after convert string to integer value add all these values in another set using add() function
6. Print the original string set and the converted integer set

# 35.  Convert a set of integers to a set of strings

In [45]:
# Step 1: Create a set of strings
integer_set = {123, 456, 789}

# Step 2: Initialize an empty set to store integers
string_set = set()

# Step 3: Iterate through each string in the string set
for integer in integer_set:
    # Step 4: Convert the string to an integer using the int() function
    string_value = str(integer)

    # Step 5: Add the integer to the integer set
    string_set.add(string_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", integer_set)
print("Converted Integer Set:", string_set)

Original String Set: {456, 123, 789}
Converted Integer Set: {'456', '123', '789'}

Explanation:
1. frist things is create set 
2. second thing is initialize an empty set to store string value called string_set
3. iterate set using for loop and traverse every integer value
4. then we cna convert integer to string set values using str() and store it in any other variable called string_value
5. after convert integer to string value, add all these values in another set using add() function
6. Print the original string set and the converted integer set

# 36. Create a set from a tuple

In [2]:
my_tuple = (12,3,4,5,67)
my_set = set(my_tuple)
print("My set is:",my_tuple)

My set is: (12, 3, 4, 5, 67)

In [3]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

Explanation:
1. first thing is create tuple tuple with some element
2. then convert the tuple into a set using set() function
3. we can store our new set in other variable called output_set
4. At this , the set() is used to convert the element of the tuple into a set.
5. finally print the resulting set using print() function

# 37.  Convert a set to a tuple

In [4]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

Explanation:
1. first thing is create tuple set with some element
2. then convert the set into a set
3. we can store tuple in other variable called output_tuple
4. At this , the tuple() is used to convert the element of the set into tuple.
5. finally print the resulting set using print() function

# 38. Find the maximum value in a set

In [5]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

Explanation:
1. define the set with some values.
2. Initialize a variable to store the maximum value as max_value
3. Iterate through each element in the set using for loop
4. Check if max_value is None (first iteration) or if the current number is greater than max_value
5. Update max_value with the current number if it's greater
6. Print the maximum value

# 39.  Find the minimum value in a set

In [6]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

Explanation:
1. define the set with some values.
2. Initialize a variable to store the manimum value as min_value
3. Iterate through each element in the set using for loop
4. Check if min_value is None (first iteration) or if the current number is greater than min_value
5. Update min_value with the current number if it's greater
6. Print the maximum value

# 40. Create a set from user input

In [10]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> 5
> 12
> done
Final set: {'12', '5'}

Explanation:
1. Initialize an empty set
2. Get input from the user
3. Get input from the user
4. Exit the loop if the user enters 'done'
5. Add the user input to the set
6. Display the final set created from user input

# 41. Check if the intersection of two sets is empty

In [11]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

Explanation:
1. first thing is define two set 
2. Find the intersection of the two sets using the `intersection()` method
3. Check if the intersection result is empty

# 42.  Create a set of the first 5 Fibonacci numbers

In [12]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

Explanation:
1. Create a set to store the first 5 Fibonacci numbers
2. Initialize the first two Fibonacci numbers
3. Loop to generate the first 5 Fibonacci numbers
4. Add the current Fibonacci number to the set
5. Calculate the next Fibonacci number
6. Print the set of Fibonacci numbers

# 43.  Remove duplicates from a list using sets

In [13]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

EXplanation:
1. Define a list with duplicates
2. Convert the list to a set
3. Now, 'unique_set' contains only unique elements from 'original_list'
4. Convert the set back to a list
5. Now, 'unique_list' is a list containing only unique elements
6. Print the original list and the list with duplicates removed

# 44. Check if two sets have the same elements, regardless of their count.

In [14]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Explanation:
1. convert the function with two set , set1 and set2
2. Convert the sets to lists and sort them
3. Compare the sorted lists to check if they are equal
4. Check if the sets have the same elements
5. Print the result

# 45. Create a set of the first `n` powers of 2

In [21]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [20]:
set_element(5)

My Set of the first n power of 2 is: {16, 1, 4, 9}

Explanation:
1. firs thing is define function that take one argument integer value
2. Initialize an empty set to store the powers of 2
3. iterate through the for Loop from 0 to n-1
4. Calculate the current power of 2 using the exponentiation operator **
5. ** operator are generally used to calculate square of any number
6. Add the current power of 2 to the set
7. Return the set of powers of 2

# 46. Find the common elements between a set and a list.

In [24]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

Explanation:
1. Define a set and a list
2. Convert the list to a set for efficient comparison
3. Initialize an empty list to store common elements
4. Iterate through the elements in the set
5. Check if the element is present in the converted set (list_to_set)
6. If the element is present in both the set and the list, add it to the common_elements list
7. Print the common elements

# 47. Create a set of the first `n` triangular numbers

In [26]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

Explanation:
1. Create an empty set to store the triangular numbers
2. Calculate the ith triangular number using the formula
3. Add the calculated triangular number to the set

# 48. Check if a set contains another set as a subset

In [27]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

Explanation:
1. define two set , set1 and set2
2. and check that set2 is subset of set1 or not
3. display your result

# 49. Create a set of alternating 1s and 0s of length `n`

In [28]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

Explanaiton:
1. Initialize an empty set to store the alternating sequence.
2. Loop to generate alternating 1s and 0s.
3. Alternate between adding 1 and 0 to the set based on whether i is even or odd.
4. finally return your result

# 50.  Merge multiple sets into one

In [29]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

Explanation:
1. Create multiple sets like set1 ,set2 and set3
2. to merge multiple set we use union() function,
3. Alternatively, you can use the | operator
4. merged_set = set1 | set2 | set3
5. Print the merged set